@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Work+Sans:wght@300&display=swap");

.hero-container {
    background-image: url("BackgroundHero.png"); /* The image used */
    height: 80vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    display: flex;
    justify-content: left;
    align-items: center;
}

.slogan-container {
    width: 400px;
    padding-left: 100px;
    height: 500px;
}

.slogan-container h1 {
    font-family: "Oswald", sans-serif;
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.slogan-container p {
    font-family: "Work Sans", sans-serif;
    margin-bottom: 40px;
}

.buttons {
    cursor: pointer;
    margin: 10px 10px 10px 0;
    max-width: 120px;
    width: 120px;
    height: 40px;
    color: #ffe700;
    background-color: #080e13;
    border-radius: 6px;
    border: 1px solid #ffe700;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
    padding: 10px;
    text-decoration: none;
}

.buttons:hover {
    background-color: #ffe700;
    color: #080e13;
}
