.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.logo {
    margin: 16px 40px;
}
.login {
    margin: 16px 40px;
    padding-left: 20px;
}

.links {
    text-decoration: none;
    color: black;
    margin-right: 20px;
}
