@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Condensed&display=swap");
.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    background-color: #080e13;
    align-items: center;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.img-logo {
    margin-left: 25px;
    width: 100px;
}
.login {
    margin: 16px 40px;
    padding-left: 20px;
}

.links {
    text-decoration: none;
    margin-right: 20px;
    color: #ffe700;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}
